<div class="content-wrapper">
    <div class="bx-sec-1">
        <div class="bx-sec-1__left">
            <div class="bx-sec-1__left-text">
                <h1 class="bx-sec-1__left-text__head"> Just Don’t Wait! Let’s Connect.</h1>
                <p class="bx-sec-1__left-text__para1">No matter what industry your business is in, we are here to provide you with incomparable services that fit your needs perfectly. Feel free to connect with us and have a chat with our team.</p>
                <p class="bx-sec-1__left-text__para1">Happy to be of assistance!</p>
            </div>
            
        </div>
        <div class="bx-sec-1__right">

            <app-bx-reactive-form></app-bx-reactive-form>

        </div>
    </div>
</div>
