<div class="bx-subscribe">         
    <div >
        <h2 class="bx-subscribe__heading">Subscribe to our newsletter</h2>
        <p class="bx-subscribe__para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae ac facilisis.</p>
    </div>
    
    <div class="bx-subscribe__email">
        <input type="text" placeholder="Your email address" class="bx-subscribe__textfield">
        <app-button class="bx-subscribe__arrow"
        [btnrightIcon]="'../../../../assets/icons/arrow.svg'"
        [style]="{'background-color':'#10385B','height':'33px'}"
        ></app-button>        
    </div>
</div>
