@import "/src/assets/variables/mixin.scss";
@import "/src/assets/variables/color.scss";
@import "/src/assets/variables/fontstyle.scss";
label{
    color:$hash-color;
    font-size: 16px;
    // margin-top: 20px; //new
   // margin-bottom: 10px; //new
    @include navtext;
    color: $hash-color;
    line-height: 24px;
    font-size: 16px;

}

@include mobile{
    // label{
    //     margin-top: 20px;
    //     width: 300px;
    //    font-size: 14px;
    // }
}


