<div class="bx-sec-2">
    <h2 class="bx-sec-2__heading">Beinex Industry Offerings</h2>
    <div class="bx-sec-2__cards">
        <app-bx-sec2-card [heading]="cardHeading" [items]="cardItems" [style]="{'background':'rgba(255, 255, 255, 0.10)'}" ></app-bx-sec2-card>
        <app-bx-sec2-card [heading]="cardHeading2" [items]="offerings" [style]="{'background':'rgba(255, 255, 255, 0.20)'}"></app-bx-sec2-card>
        <app-bx-sec2-card [heading]="cardHeading3" [para]="para"  [style]="{'background':'rgba(255, 255, 255, 0.10)'}"></app-bx-sec2-card>
    </div>  
     
    <div class="bx-sec-2__button">
    <app-button [btnText]="'Contact Us'"  [btnrightIcon]="'../../../../assets/icons/Group 7.svg'" [style]="{ 'width': '140px','background-color':'#04BBF2','height':'30px'}"></app-button>
    </div>
    
</div>
