.bx-badge{
    border: 1px solid #2D82E5;
    background-color: #2d82e51e;
    color: #2D82E5;
    font-size: 14px;
    font-weight: 500;
    height: 31px;
    border-radius: 15px;
    padding: 6px 19px;
    cursor: pointer;
    text-align: center;
}
