@import "/src/assets/variables/color.scss";
@import "/src/assets/variables/fontstyle.scss";
#file-input{
    visibility: hidden;  
}
label{
    border: 1px solid $lite-hash ;
    font-family: $poppins;
    padding: 5px 24px;
    background-color: rgb(248, 245, 245);
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    
}