<!-- <div class="bx-footer__card">
    <img [src]="bxIcon">
    <h2 class="bx-footer__card__head">{{ sectionTitle }}</h2>
    <div class="bx-footer__card__items">
        <h2 *ngFor="let item of items" class="bx-footer__card__list">{{ item }}</h2>
    </div>
</div> -->
<div class="bx-footer__card">
    <img [src]="bxIcon">
    <h2 class="bx-footer__card__head">{{ sectionTitle }}</h2>
    <div class="bx-footer__card__items" [id]="id">
        <h2 *ngFor="let item of items" [class]="class">{{ item }}</h2>
    </div>
</div>
    
  
